body {
  margin: 0;
  padding: 0;
  background-color: #e2d9b5;
}

h1 {
  text-align: center;
  color: #000000;
}

h2 {
  text-align: center;
  color: #000000;
}

/* grid layout mobile*/

.rcalc-grid {
  display: grid;
  grid-template-columns: 1fr;
}

/* box for entire log display - needed to position the content */

.rcalc-container-log-display {
  text-align: center;
  background-color: #e2d9b5;
}

/* log display */

.rcalc-log-display {
  resize: none;
  border-style: solid;
  width: 268px;
  height: 393px;
  background-image: linear-gradient(#ffffff 50%, #dddddd 50%);
  background-size: 100% 3rem;
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 0px 4px;
}

/*  box for entire view - needed to position the content */

.rcalc-container-view {
  text-align: center;
  background-color: #e2d9b5;
}

.rcalc-view-display {
  resize: none;
  border-style: solid;
  background-color: #ffffff;
  width: 268px;
  height: 393px;
  margin-top: 77px;
}

/* box for entire calculator - needed to position the content */

.rcalc-container-calculator {
  text-align: center;
  margin-bottom: 200px;
}

/* calculator form */

.rcalc-calculator {
  background-color: #474024;
  display: inline-block;
  padding: 2px;
}

/* clear button */

.rcalc-button-clear {
  background-color: #681c1c;
  border: none;
  color: #FFFFFF;
  font-size: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* result display */

.rcalc-display-main {
  text-align: right;
  border-style: solid;
  border-color: #727555;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 40px;
  width: 186px;
  height: 55px;
}

/* error display */

.rcalc-display-info {
  resize: none;
  display: block;
  text-align: center;
  border-style: solid;
  border-color: #727555;
  border-width: 2px;
  font-weight: bold;
  color: #FF0000;
  background-color: #FFFFFF;
  font-size: 17px;
  width: 250px;
  height: 55px;
}

/* all buttons of calculator accept C */

.rcalc-button {
  border: none;
  color: #FFFFFF;
  background-color: #727555;
  font-size: 40px;
  width: 60px;
  height: 60px;
  padding: 5px;
  cursor: pointer;
}

/* operator buttons*/

.rcalc-button-operator {
  border: none;
  color: #FFFFFF;
  background-color: #39681c;
  font-size: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* dropdown button color */

.rcalc-dropdown-button-color {
  background-color: #474024;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 25px;
  padding: 5px;
  font-size: 20px;
  border: none;
}

/* dropdown button size */

.rcalc-dropdown-button-size {
  background-color: #474024;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 25px;
  padding: 5px;
  font-size: 20px;
  border: none;
}

/* dropdown button language */

.rcalc-dropdown-button-language {
  background-color: #474024;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 25px;
  padding: 5px;
  font-size: 20px;
  border: none;
}

/* the container <div> - needed to position the color dropdown content */

.rcalc-dropdown-color {
  display: inline-block;
}

/* the container <div> - needed to position the size dropdown content */

.rcalc-dropdown-size {
  display: inline-block;
}

/* the container <div> - needed to position the language dropdown content */

.rcalc-dropdown-language {
  display: inline-block;
}

/* dropdown color content (hidden by default) */

.rcalc-dropdown-content-color {
  display: none;
  position: absolute;
}

/* dropdown size content (hidden by default) */

.rcalc-dropdown-content-size {
  display: none;
  position: absolute;
}

/* dropdown language content (hidden by default) */

.rcalc-dropdown-content-language {
  display: none;
  position: absolute;
}

/* buttons inside the color dropdown */

.rcalc-button-css-swap {
  width: 100%;
  background-color: #FFFFFF;
  border: none;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  cursor: pointer;
}

/* buttons inside the size dropdown */

.rcalc-button-size-swap {
  width: 100%;
  background-color: #FFFFFF;
  border: none;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  cursor: pointer;
}

/* buttons inside the language dropdown */

.rcalc-button-language-swap {
  width: 100%;
  background-color: #FFFFFF;
  border: none;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  cursor: pointer;
}

/* change color of dropdown color buttons on hover */

.rcalc-button-css-swap:hover {
  background-color: #474024;
  color: #FFFFFF;
}

/* change color of dropdown size buttons on hover */

.rcalc-button-size-swap:hover {
  background-color: #474024;
  color: #FFFFFF;
}

/* change color of dropdown language buttons on hover */

.rcalc-button-language-swap:hover {
  background-color: #474024;
  color: #FFFFFF;
}

/* show the color dropdown menu on hover */

.rcalc-dropdown-color:hover .rcalc-dropdown-content-color {
  display: block;
}

/* show the size dropdown menu on hover */

.rcalc-dropdown-size:hover .rcalc-dropdown-content-size {
  display: block;
}

/* show the language dropdown menu on hover */

.rcalc-dropdown-language:hover .rcalc-dropdown-content-language {
  display: block;
}

/* grid layout desktop*/

@media screen and (min-width: 700px) {
  .rcalc-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .rcalc-log-display {
    resize: none;
    border-style: solid;
    background-color: #ffffff;
    width: 268px;
    height: 393px;
    margin-top: 10px;
  }
}